[submodule "robin"]
	path = robin
	url = https://github.com/robin-labs/robin
[submodule "hrtf"]
	path = hrtf
	url = https://github.com/robin-labs/hrtf
[submodule "charles"]
	path = charles
	url = https://github.com/robin-labs/charles
[submodule "zed-python"]
	path = zed-python
	url = http://github.com/stereolabs/zed-python
